@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.TTF') format('woff');
}

input {
    font-family: 'SEGA LOGO FONT';
    color: rebeccapurple;
    text-align: center;
}